body{
    margin: 0em;
    padding: 0em;
    overflow-x: hidden;
}


.boxList{
    height: 100vh;
    width: 100vw;
    background-color: rgb(41, 49, 85);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}

.boxList__title{
    flex: 0 1 100%;
    text-align: center;
    margin: 0px;
    color: white;
    font-size: 8em;
}

.boxList__item{
    border: 2px solid rgb(31, 29, 29);
    border-radius: 15px;
    flex: 0 1 15%;
    height: 50%;
    background-color:rgb(246, 234, 217) ;
    text-align: center;
    color: rgb(41, 49, 85);
}

.boxList__item--colorOne{
    background-color: rgb(241, 144, 80);
}

.boxList__item--colorTwo{
    background-color: rgb(174, 227, 211);
}

.boxList__item--colorThree{
    background-color: rgb(165, 216, 204);
}
.boxList__item--colorFour{
    background-color: rgb(225, 211, 206);
}

.boxList__itemTitle{
    font-size: 4rem;
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boxList__itemSubTitle{
    font-size: 3rem;
    margin: 0px;
    margin-bottom: 1rem;
}

.boxList__itemText{
    font-size: 2rem;
    margin: 0px;
}

.PriceList{
    height: 100vh;
    width: 100vw;
    background-color: rgb(41, 49, 85);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;

}

.PriceList__title{
    flex: 0 1 100%;
    text-align: center;
    margin: 0px;
    color: white;
    font-size: 8em;
}

.PriceList__item{
    border: 2px solid rgb(31, 29, 29);
    border-radius: 15px;
    flex: 0 1 15%;
    height: 50%;
    background-color: #F19050 ;
    text-align: center;
    color: rgb(41, 49, 85);
}

.PriceList__item--middle{
    flex: 0 1 20%;
    height: 54%;
    background-color:#85B7AA;
}

.PriceList__item--big{
    flex: 0 1 22%;
    height: 58%;
    background-color: #5EC7C3;
}

.PriceList__title{
    flex: 0 1 100%;
    text-align: center;
    margin: 0px;
    color: white;
    font-size: 8em;
}