@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Satisfy&display=swap');

html, body, main{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.header{
    width: 100%;
    height: 10%;
    z-index: 100;
    background-color: #7d4e2d;
    display: flex;
    align-items: center;
}

.header__iconLogo{
    height: 5vh;
    margin: .5rem;
}

.header__nameLogo{
    width: 20%;
    font-family: 'Satisfy', cursive;
    color: cornsilk;
    font-size: 1.5rem;
}

.navbar{
    width: 80%;
}

.navbar____list{
    list-style-type: none;   
    font-weight: 600;
    font-size: 1.2rem;
    display: flex;
    align-self: center;
    justify-content: space-evenly;

}

.navbar__item{
    text-decoration: none;
    color: cornsilk;
    font-family: 'Open Sans', sans-serif;

}

/* ------------------------------- WAVEY BLOCK ------------------------------ */

.wawey{
    position: relative;
}

.wawey--box{
    height: 20%;
    width: 80%;
}

.wavey__container{
    height: 15%; 
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.wavey__container--big{
    height: 75%;
}
.wavey--bottom{
    bottom: 0px;
}
.wavey--bottom10{
    bottom: -10px;
}
.wavey--top{
    top: 0px;
}

.wavey__svgIcon{
    height: 100%;
    width: 100%;
}

/* ------------------------------ SECTION BLOCK ----------------------------- */

.section{
    height: 100%;
}

.section__article{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
    height: 100%;
    width: 100%;
}

.section__article--cover{
    height: 90%;
}

.section__article--resourse{
    background-color: #7d4e2d;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.section__container{
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* ---------------------------- COVER PAGE BLOCK ---------------------------- */

.cover__svgCoffe{
    height:  80%;
    position: absolute;
    left: 0px;
}

.cover__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
    height: 60%;
    
}

.cover__title{
    margin: 0px;
    text-align: center;
    font-size: 6em;
    color:#7d4e2d;
    width: 80%;
    font-family: 'Satisfy', cursive;
    flex: 1 0 80%;
}

.cover__button{
    flex: 1 0 10%;
    width: 30%;
    background-color: black;
    border: none;
    color: white;
    border-radius:20px;
    font-size: 1.5rem;
}

/* ------------------------------- ABOUT BLOCK ------------------------------ */

.about__title{
    font-size: 4rem;
    font-weight: 750;
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin: 0px;
}

.about__list{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.about__itemList{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* ----------------------------- RESOURSE BLOCK ----------------------------- */

.resourse__title{
    text-align: center;
    font-size: 5rem;
    font-family: 'Satisfy', cursive;
    color: cornsilk;
    margin: 0px;
}

.resourse__item--w35{
    flex: 0 1 35%;
}

.resourse__item--w100{
    flex: 0 1 100%;
}

/* -------------------------------- BOX BLOCK ------------------------------- */

.box{
    border : 2px solid cornsilk;
    background-color: cornsilk;
    border-radius: 25px;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.box--column{
    flex-direction: column;
}

.box__item--small{
    flex: 0 1 25%;
    text-align: center;
}

.box__item--middle{
    flex: 0 1 50%;
    text-align: center;
}

.box__title{
    font-weight: 700;
    font-size: 2rem;
    margin: 0em;
}

.box__link{
    font-size: 1.5rem;
    
}

.box__icon{
    height: 5vh;
    margin: .5rem;
}