
body, html{
    padding: 0px;
    margin: 0px;
    height: 100%;
}


header{
    height: 10vh;
    width: 100%;
    background-color: brown;
}
main{
    height:90%;
    width: 100%;
}

.menu{
    width: 30%;
    height: 100%;
    background-color: rgb(199, 169, 169);
    float: left;
   
}

.list{
    width: 70%;
    height: 100%;
    background-color: rgb(125, 125, 163);
    float: right;
    
}

.list form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.list p{
    margin: 10px;
}

.item{
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: burlywood;
    width: 90%;
    
}

.item__ckeckbox{}

.item__text{
    padding-left: 10px;
    font-size: 1.2rem;
    
}